services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=fhsfhsuhbfusnfhreuhfksjn578372834
      - POSTGRES_DB=TestSystem
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: eureihgkdjgjkudhiouhugiofdshcvbkheiuoyo823u948458yhu9uo9fsudor2908yrhudjw
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  
  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    depends_on:
      - auth-service
      - classrooms-service
      - task-service

  auth-service:
    build: 
      dockerfile: Dockerfile.Auth
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  
  classrooms-service:
    build: 
      dockerfile: DockerFile.Projects
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  task-service:
    build: 
      dockerfile: Dockerfile.Tasks
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  
  package-service:
    build:
      dockerfile: Dockerfile.Packages
    environment:
      - RabbitMQ__HostName=rabbitmq 
      - RabbitMQ__RequestQueue=code_execution_requests
      - RabbitMQ__ResultQueue=code_execution_results
    depends_on:
      rabbitmq:
        condition: service_healthy 
      db:
        condition: service_healthy
    restart: on-failure
    networks:
      - app-network

  run-worker:
    build:
      dockerfile: Dockerfile.Worker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  
    environment:
      - RabbitMQ__HostName=rabbitmq 
      - RabbitMQ__RequestQueue=code_execution_requests
      - RabbitMQ__ResultQueue=code_execution_results
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    networks:
      - app-network
  
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" 
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s   
      timeout: 5s
      retries: 5
    networks:       
      - app-network

volumes:
  postgres_data:
  pgadmin-data:

networks:
  app-network:
    driver: bridge