services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=fhsfhsuhbfusnfhreuhfksjn578372834
      - POSTGRES_DB=TestSystem
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: eureihgkdjgjkudhiouhugiofdshcvbkheiuoyo823u948458yhu9uo9fsudor2908yrhudjw
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  
  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    depends_on:
      - auth-service
      - classrooms-service
      - task-service

  auth-service:
    build: 
      dockerfile: Dockerfile.Auth
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  
  classrooms-service:
    build: 
      dockerfile: DockerFile.Projects
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  task-service:
    build: 
      dockerfile: Dockerfile.Tasks
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  
  package-service:
    build:
      dockerfile: Dockerfile.Packages
    depends_on:
      kafka:
        condition: service_started
      db:
        condition: service_healthy
    networks:
      - app-network

  run-worker:
    build:
      dockerfile: Dockerfile.Worker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  
    depends_on:
      kafka:
        condition: service_started
    networks:
      - app-network
     
  
  kafka:
    image: confluentinc/confluent-local:7.4.1
    container_name: kafka
    ports:
      - "9092:9092"
      - "9101:9101"
    environment:
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:29093"
      KAFKA_LISTENERS: "PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092"
    networks:
      - app-network


volumes:
  postgres_data:
  pgadmin-data:

networks:
  app-network:
    driver: bridge